# Loop

In [1]:
#for 
#while
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [3]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
for x in range(1,12,2):
    print(x)

1
3
5
7
9
11

In [5]:
# WAP to print 10 natural numbers
#WAP to print sum of 1-10
#print the table of a 2
# print 1-10
#print -1 to -10
a = 10
b=20
c = a
a=b
b=c
print(a,b)

20 10

In [6]:
a = 100
b = 200
print(a,b)
a,b=b,a
print(a,b)

100 200
200 100

In [7]:
#While
# condition 1---> initilazation
i = 0 
# cond. 2-----> put the condition
while(i<=10):
    print(i)
    #condition 3----> increment/decrement operator
    i=i+1
#     print(i)
#     i+=1
#     i=i+1
#     i++

0
1
2
3
4
5
6
7
8
9
10

# Function

In [8]:
#function----> DRY----> Don't repeat yourself
def xyz():
    print('hello bhiya, mai hu don')
xyz()

hello bhiya, mai hu don

In [9]:
#calling a function
# xyz()

In [10]:
#type
# Argument + return
#no arg + return
# no arg + no return 
#arg + no return

def function():
    print('ankit')
    
function()

ankit

In [11]:
#no argument + no return(print)
def abc():
    print('hello bahuballi kidr ho bhai')

In [12]:
abc()
print(9+1)

hello bahuballi kidr ho bhai
10

In [13]:
#Without Arg + no return
# add 2 numbers
def add():
    a=2
    b=3
    c=a+b
    print(c)

In [14]:
add()

5

In [19]:
#with arg + no return
def add (a,b):
    c = a+b
    print(c)

10

In [16]:
add(2,4)

In [21]:
#With arg + with return
def add(x,y):
    z = x+y
    return (z)

In [18]:
add(2,3)

5

In [22]:
#no arg + with return
def add():
    d = 90
    e = 7
    sum = d+e
    return sum

In [23]:
add()

97

In [43]:
#default parametres
def add(a,b=2):
    z = a+b
    print(z)

In [44]:
add(2)

4

In [49]:
# WAP to find max of 3 numbers
# WAP to find min of 3 numbers
# WAP to find even or odd numbers

def maxi(a,b,c):
    if(a>b and a>c):
        print("A is greater")
#         return a
    elif(b>a and b>c):
        print("B is greater")
    else:
        print("C is greater")
        
maxi(121,23,90)

A is greater